extends layout

block content
  h1= title

  p Drag out your hours to enter them

  div#calendar

  div#taskModal.modal.fade
    div.modal-dialog
      div.modal-content
        div.modal-header
          button(type="button", class="close", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title Add Hours
        form(class="form-horizontal", action="/addTask", method="post")
          div.modal-body

            div.form-group
              label(class="col-md-4 control-label", for="taskTitle") Task
              div.col-md-6
                input(id="taskTitle", name="taskTitle", placeholder="enter task", class="form-control input-md", required="", type="text")

            div.form-group
              label(class="col-md-4 control-label", for="startDateTime") Start
              div.col-md-6
                div#startDateTime.input-group
                  input(name="startDateTime", class="form-control", placeholder="enter start", required="", type="text")
                  span.input-group-addon
                    span.glyphicon.glyphicon-calendar

            div.form-group
              label(class="col-md-4 control-label", for="endDateTime") end
              div.col-md-6
                div#endDateTime.input-group
                  input(name="endDateTime", class="form-control", placeholder="enter end", type="text")
                  span.input-group-addon
                    span.glyphicon.glyphicon-calendar

          div.modal-footer
            button(type="button", class="btn btn-default", data-dismiss="modal") Close
            input(type="submit", class="btn btn-primary", value="Save changes")
