doctype html
html
  head
    title= title
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.css')
    link(rel='stylesheet', href='http://threedubmedia.com/inc/css/base.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='http://threedubmedia.com/inc/js/jquery.event.drag-2.2.js')
    script(src='http://threedubmedia.com/inc/js/jquery.event.drag.live-2.2.js')
    script(src='http://threedubmedia.com/inc/js/jquery.event.drop-2.2.js')
    script(src='http://threedubmedia.com/inc/js/jquery.event.drop.live-2.2.js')
    script(src='http://threedubmedia.com/inc/js/excanvas.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.js')
    script(src='/javascripts/calendar.js')
  body
    block content
