doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/fullcalendar.min.css')
    link(rel='stylesheet', href='/vendor/threedubmedia/base.css')
    link(rel='stylesheet', href='/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css')
    link(rel='stylesheet', href='/bower_components/bootstrap-timepicker/css/bootstrap-timepicker.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    - if (typeof(styles)!=='undefined'){
      - each s in styles
        link(rel='stylesheet', href= s)
    - }

    script(src='/bower_components/jquery/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/bower_components/moment/min/moment.min.js')
    script(src='/javascripts/transition.js')
    script(src='/javascripts/collapse.js')
    script(src='/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')
    script(src='/bower_components/bootstrap-timepicker/js/bootstrap-timepicker.js')
    script(src='/bower_components/d3/d3.js')
    script(src='/bower_components/d3-tip/index.js')
    script(src='/vendor/threedubmedia/jquery.event.drag-2.2.js')
    script(src='/vendor/threedubmedia/jquery.event.drag.live-2.2.js')
    script(src='/vendor/threedubmedia/jquery.event.drop-2.2.js')
    script(src='/vendor/threedubmedia/jquery.event.drop.live-2.2.js')
    script(src='/vendor/threedubmedia/excanvas.min.js')
    script(src='/vendor/fullcalendar.min.js')
    - if (typeof(scripts)!=='undefined'){
      - each s in scripts
        script(type='text/javascript', src= s)
    - }
  body
    nav.navbar.navbar-default.navbar-fixed-top
      div.container
        div.navbar-header
          button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="#") taskTraker
        div#navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href="/") Home
            li
              a(href="/manicTime") manicTime
            li
              a(href="/viz") data viz
            li
              a(href="/cdChanges") cdChanges
    div.container
      block content
