extends layout

block content
  h1= title
  
  .row
    .col-md-12
      ul
        each val in projects.length ? projects: ['There are no projects']
          li(id="#{val._id}")= val.title
      
  script(type="text/javascript").
    var projects = !{JSON.stringify(projects)}
