extends layout

block content
  h1= title
  p data corpus #{count} records

  div.row
    div.col-xs-12
      input(type="text", name="sampleSize", value="100")
      a#vizLoadData.btn.btn-default(href="#") load sample data

  div.row
    div.col-xs-12
      textarea(name="sampleData", cols="100", rows="15")

  div.row
    div.col-xs-12
      div#durationDateTime
