extends layout

block content
  h1= title
  
  .row
    .col-xs-12
      h2 Projects
  .row
    .col-xs-12
      .row
        h4 Current weeks hours by project
        div#currentWeek
  script(type="text/javascript").
    var projects = !{JSON.stringify(projects)}
