doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    - if (typeof(styles)!=='undefined'){
      - each s in styles
        link(rel='stylesheet', href= s)
    - }

    - if (typeof(scripts)!=='undefined'){
      - each s in scripts
        script(type='text/javascript', src= s)
    - }
  body
    nav.navbar.navbar-default.navbar-fixed-top
      div.container
        div.navbar-header
          button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="#") taskTraker
        div#navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href="/") Home
            li
              a(href="/naiveBayes") naiveBayes
            li
              a(href="/manicTime") manicTime
            li
              a(href="/viz") data viz
            li
              a(href="/cdChanges") cdChanges
            li
              a(href="/login") Logout
            li
              a(href="/login") Login
            li
              a(href="/register") Register
    div.container
      block content
