extends layout

block content
  h1= title

  div.row
    div.col-xs-12
      p Naive Bayes sandbox
  
  div.row
    .col-md-12
      .well
        p Flow...
        ul
          li grab sample of tasks with a projectId (learnt data)
          li run through classifier
          li grab sampel of tasks wihtout a projectId (test data)
          li classify
  
  script var stateJson = !{JSON.stringify(stateJson)}
